
  /***general***********************************************************************************/
   
  .range-slider-container {
    display: inline-block;
    margin-right: 10px;
  }
  
  .range-slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 3px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .range-slider:hover {
    opacity: 1;
  }
  
  .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

  .range-slider::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }

 .range-slider::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
  }


  .range-slider-value {
    display: inline-block;
    position: relative;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 8px;
  }

  .range-slider-value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid;
    border-bottom: 7px solid transparent;
    content: '';
}

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


  /***themes dark***********************************************************************************/
   
   .range-slider.dark {
    background: rgb(92, 103, 115);;
  }
  
  .range-slider:hover.dark {
    opacity: 1;
    background: rgb(60, 68, 77);
  }

  .range-slider.dark::-webkit-slider-thumb {
    background:  #5cc05c;
  }

  .range-slider.dark::-ms-thumb {
    background:  #5cc05c;
  }

  .range-slider.dark::-moz-range-thumb {
    background:  #5cc05c;
  }

  .range-slider-value.dark {
    color: #fff;
    background: rgb(92, 103, 115);
  }

  .range-slider-value.dark:after {
    border-right-color: rgb(92, 103, 115);
  }

/***themes light **********************************************************************************************************/

.range-slider.light {
    background: #fff;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(195, 203, 212);
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset;
    height: 10px;
}

.range-slider:hover.light {
  background: rgb(235, 238, 239);
}

.range-slider.light::-webkit-slider-thumb {
  background:  #5cc05c;
}

.range-slider.light::-ms-thumb {
  background:  #5cc05c;
}

.range-slider.light::-moz-range-thumb {
  background:  #5cc05c;
}

.range-slider-value.light {
  color: #000;
  background: #fff;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(195, 203, 212);
}

.range-slider-value.light:after {
  border-right-color: rgb(195, 203, 212);;
}


/***themes grey **********************************************************************************************************/

.range-slider.grey {
  background: #e1e6eb;
}

.range-slider:hover.grey {
  background: rgb(235, 238, 239);
}

.range-slider.grey::-webkit-slider-thumb {
  background:  #5cc05c;
}

.range-slider.grey::-ms-thumb {
  background:  #5cc05c;
}

.range-slider.grey::-moz-range-thumb {
  background:  #5cc05c;
}


.range-slider-value.grey {
  color: #000;
  background: #e1e6eb;
}

.range-slider-value.grey:after {
  border-right-color: #e1e6eb;
}